<%=link_to "Home", surveys_path %>

<div class='container'>
  <div class='col-md-4 col-md-offset-4'>
    <h1 align='center'>Survey Taker</h1>
    <h3 align='center'> <%=@survey.title%></h3>
    <h5 align='center'> <%=@survey.description%></h3>
  </div>
</div>

<div class='container'>
 <div class='col-md-4 col-md-offset-4'>
 <%= form_for @survey, url: surveys_builders_path do |questionaire_field| %>
   <br>
   <%i=0%>
   <%= questionaire_field.fields_for :questions do |question_field| %>
   		<%=@survey.questions[i].title %>
   		<%i=i+1%>
       <%= question_field.label :answer%>
       <%=question_field.text_field :answer %>
   <%end%>
 <%= questionaire_field.submit %>
 <%end%>
 </div>
</div>