<%=link_to "Home", surveys_path %>

<div class='container'>
  <div class='col-md-4 col-md-offset-4'>
    <h1 align='center'>Survey Taker</h1>
    <h3 align='center'> <%=@survey.title%></h3>
    <h5 align='center'> <%=@survey.description%></h3>
  </div>
</div>

<div class='container'>
  <div class='col-md-4 col-md-offset-4'>
    <%= form_for @survey, url: survey_path do |questionaire_field| %>
      <br>
      <%i=0%>
      <%= questionaire_field.fields_for :questions do |question_field| %>
        <br>
        <h4>Question <%=i+1%>:<%=@survey.questions[i].title %></h4>
        <%i=i+1%>
        <%=question_field.text_area :answer %>
        <br>
      <%end%>
      <%= questionaire_field.submit %>
      <br>
      <br>
    <%end%>
  </div>
</div>