<%=link_to "Home", surveys_path %>

<div class='container'>
  <div class='col-md-4 col-md-offset-4'>
    <h1 align='center'>Survey Reader</h1>
    <h3 align='center'> <%=@questionaire.title%></h3>
    <h5 align='center'> <%=@questionaire.description%></h3>
  </div>
</div>

<div class='container'>
	<% @questionaire.questions.each_with_index do |question,index| %>
  <div class='col-md-4 col-md-offset-4'>
    <h4 align='center'> Question <%=index%>: <%=question.title%></h3>
    <h5 align='center'> Answer: <%=question.answer%></h3>
  </div>
  <%end%>
</div>